//colors

$main-nav-color: #333333;
$main-nav-color-darker: #1f1e1e;
$nav-button-color-green:rgb(122, 198, 77);
$nav-icons-color:#9b9b9b;
$nav-border-color:rgb(99, 98, 98);
$highlight-color: #e3207b;
$heading-text-color: #ffffff;
$sub-text-color: rgba(255,255,255,.5);
$main-background-color: #222831;
$section-background-color: #13171d;
$light-gray:#8b8995;



$container-width: 100%;
$nav-height: 60px;

